<html>
    <head>
        <title>Compare Company</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <div class="row row-content">
            <div class="col-12 col-md-9">
                <div class="jumbotron" >
                <h2>Compare Companies</h2>
                </div>
            </div>
             <div class="col-12 col-md-9">
                 <form id="formElem">
                     <div class="form-group row">
                         <label for="sectorSelection" class="col-md-4 col-form-label"><h4>Select Company</h4></label>
                         <div class="col-md-8">
                                <select class="browser-default custom-select custom-select-lg mb-3" [(ngModel)]="companyvalue" [ngModelOptions]="{standalone: true}" id="company">
                                    <option>Companies</option>
                                    <option *ngFor="let company of companies">{{company.companyName}}</option>
                                </select>
                         </div>
                     </div>
                     <div class="form-group row">
                         <label for="companySelection" class="col-md-4 col-form-label"><h4>Select Stock Exchange</h4></label>
                         <div class="col-md-8">
                            <select class="browser-default custom-select custom-select-lg mb-3" [(ngModel)]="stockexchangevalue" [ngModelOptions]="{standalone: true}" >
                                <option selected>Stock Exchanges</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                         </div>
                     </div>
    
                     <div class="form-group row">
                         <label for="Period" class="col-12 col-md-4 col-form-label" ><h4>Period</h4></label>
                         <div class="col-5 col-md-4">
                            <select class="browser-default custom-select custom-select-lg mb-3" [(ngModel)]="fromperiod" [ngModelOptions]="{standalone: true}">
                                <option selected>Start Date</option>
                                <option value="2020-08-28">One</option>
                                <option value="1998-10-12">Two</option>
                                <option value="1998-10-13">Three</option>
                              </select>
                         </div>
                         <div class="col-7 col-md-4">
                            <select class="browser-default custom-select custom-select-lg mb-3" [(ngModel)]="toperiod" [ngModelOptions]="{standalone: true}">
                                <option selected>End Date</option>
                                <option value="2020-08-28">One</option>
                                <option value="1998-10-12">Two</option>
                                <option value="1998-10-13">Three</option>
                              </select>
                         </div>
                     </div>
                     
                     <div class="form-group row">
                        <label for="Periodicity" class="col-12 col-md-4 col-form-label"><h4>Periodicity (Days)</h4></label>
                        <div class="col-md-8">    
                            <input type="text" class="form-control form-control-lg" placeholder="Enter Days"  [(ngModel)]="periodicity" [ngModelOptions]="{standalone: true}">
                        </div>  
                     </div>
                     
                     <div class="form-group row">
                         <div class="offset-md-4 col-md-4">
                             <button type="button" class="btn-lg btn-danger" (click)="sendData()">
                                 Generate Map
                             </button>
                         </div>
                         <div class="col-md-4">
                             <button type="reset" class="btn-lg btn-warning" (click)="saveFormData()">
                                 +
                             </button>
                             
                         </div>
                     </div>
                 </form>
             </div>

              
        </div>
        </div>
    </body>
    <app-rendermap></app-rendermap>

    
</html>
