<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="graphtypeForm" (ngSubmit)="onSubmit()">

  <select formControlName="name">
    <option disabled selected>Choose graph type</option>
    <!-- <option *ngFor="let graph of graphtype">{{graph}}</option> -->
    <option selected>line</option>
    <option >bar</option>
  </select>
  <select formControlName="number">
      <option disabled >Choose graph number</option>
      <option selected>1</option>
      <option >2</option>
  </select>
  <button>Submit</button>
</form>

<div >
  <button type="button" 
  (click)="export()" 
  class="btn btn-danger">
    Export
  </button>
</div>

<div style="text-align:center">

  <canvas id="chart1" width="350" height="100"></canvas>
</div>
<div  style="text-align:center">

  <canvas id="chart2" width="350" height="100"></canvas>
</div>



<router-outlet></router-outlet>
