<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <canvas id="lineChart" width="650" height="200"></canvas>
</div>

<form [formGroup]="oppoSuitsForm" (ngSubmit)="onSubmit()">

  <select formControlName="name">
    <option disabled>Select graph type</option>
    <option>Choose graph type</option>
    <option *ngFor="let graph of graphtype">{{graph}}</option>
  </select>

  <button>Submit</button>
</form>

<router-outlet></router-outlet>
